.DashboardReport-global {
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .DashboardReport-Grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    gap: 2rem;
  }
  .DashboardReport-TableSection {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  @media (max-width: 768px) {
    .DashboardReport-Grid {
      grid-template-columns: 1fr;
      margin-left: 0.5rem;
    }
    .DashboardReport-TableSection {
      align-items: center;
      margin-bottom: 5rem;
    }
  }
}
