.DashboardReport-global {
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .DashboardReport-Grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    gap: 2rem;
  }
  .DashboardReport-TableSection {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
