@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Be Vietnam Pro", sans-serif;
}

:root {
  /* User */
  --bg-neutral: #ffffff; /*cards*/
  --bg-color: #fcddd79a;
  --bg-color-1: #fff8f5;

  --sideBar-color: #dec0b9; /*add 23% opacity*/
  --hover-color: #a53b22; /*hover & icons*/
  --input-color: #8b716b;
  --border-color: #414141;
  --button-color: linear-gradient(to right, #ff7e5f, #a53b22); /*fonctionne uniquement avec background ou background-image*/

  --font-black: #1f1b18;
  --font-neutral: #ffffff;
  --font-darkBrown: #5d2e00;
  --font-brown: #a53b22; /*Wedoo title*/
  --font-red: #e11d48;
  --font-green: #059669;
  --font-gray: #414141;

  /* status user*/
  --bg-confirm-state: #cde5ff;
  --font-comfirm-state: #001d32;

  --bg-waiting-state: #ffdcc4;
  --font-waiting-state: #2f1400;

  /* status admin*/
  --bg-valid-state: #b2f59e;
  --font-valid-state: #0c5b20;

  --bg-pending-state: #ba1a1a;
  --font-pending-state: #93000a;
}
