@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Carter+One&family=Inter:ital,opsz,wght@0,14..32,800;1,14..32,800&family=Lexend:wght@100..900&family=Limelight&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Oi&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@1,5..1200,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Space+Grotesk:wght@300..700&family=Ultra&display=swap");

.dashboard {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 300;
  font-style: normal;
  height: 90vh;
  width: 60vw;
  .user-name {
    font-weight: 400;
  }
  .event-name {
    color: var(--font-brown);
    padding: 3vh 0;
    font-size: 50px;
  }
  p {
    color: var(--font-darkBrown);
  }
  .dashboard-stats {
    display: flex;
    flex-direction: row;
    width: 91%;
    justify-content: space-between;
    padding: 3vh 0;
    .stat-1 {
      width: 23%;
      background: var(--bg-composant-dash);
      border: 1px solid var(--border-color);
      border-radius: 10px;
      padding-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 13vh;
      gap: 17px;
      h2 {
        font-weight: 400;
      }
      p {
        color: var(--font-darkBrown);
      }
    }

    .stat-2 {
      width: 23%;
      background: var(--bg-composant-dash);
      border: 1px solid var(--border-color);
      border-radius: 10px;
      padding-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 13vh;
      gap: 17px;
      h2 {
        font-weight: 400;
      }
      p {
        color: var(--font-darkBrown);
      }
    }

    .stat-3 {
      width: 23%;
      background: var(--bg-composant-dash);
      border: 1px solid var(--border-color);
      border-radius: 10px;
      padding-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 13vh;
      gap: 17px;
      h2 {
        font-weight: 400;
      }
      p {
        color: var(--font-darkBrown);
      }
    }
    .stat-4 {
      width: 23%;
      background: var(--bg-composant-dash);
      border: 1px solid var(--border-color);
      border-radius: 10px;
      padding-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 13vh;
      gap: 17px;
      h2 {
        font-weight: 400;
      }
      p {
        color: var(--font-darkBrown);
      }
    }
  }

  .dashboard-components {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 6px;
    .component-recent-reservations {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 32vh;
      border: 1px solid var(--border-color);

      border-radius: 5px 5px 0 0;
      .component-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 43%;
        height: 7vh;
        padding: 0 1vw;
        h3 {
          font-weight: 400;
        }

        button {
          height: 24%;
          border-style: none;
          background: none;
          color: var(--font-brown);
        }
      }

      .component-array {
        height: 25vh;

        .row-title {
          display: flex;
          justify-content: space-around;
          background: var(--bg-composant-dash);

          height: 25%;
          margin-bottom: 2vh;
          h4 {
            width: 20%;
            font-size: 12px;
            align-content: center;

            color: var(--font-darkBrown);
          }
          .statut {
            width: 10%;
          }
        }
        .scroll {
          display: flex;
          flex-direction: column;
          max-height: 16vh;
          overflow-y: auto;

          scrollbar-width: none; /* Firefox */

          /* Chrome, Edge, Safari */
          .ma-div::-webkit-scrollbar {
            width: 0;
            transition: width 0.2s ease;
          }

          /* Affiche la scrollbar au hover */
          .ma-div:hover::-webkit-scrollbar {
            width: 8px;
          }

          .ma-div::-webkit-scrollbar-track {
            background: transparent;
          }

          .ma-div::-webkit-scrollbar-thumb {
            background: #ff7e5f;
            border-radius: 20px;
          }
          .row {
            border: var(--border-color);
            display: flex;
            justify-content: space-around;
            height: 8vh;
            align-items: center;
            .name {
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 20px;
              width: 20%;
              height: 5vh;

              .initials {
                background-color: #0080005c;
                display: flex;
                justify-content: center;
                margin: 0;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                font-size: 10px;
              }

              p {
                font-size: 12px;
              }
            }

            p {
              width: 20%;
              align-items: center;
              display: flex;
              font-size: 12px;
            }
            .a_venir {
              font-size: 12px;
              background-color: #27b8fb3d;
              padding: 3px;
              width: 4vw;
              justify-content: center;
              border-radius: 8px;
              width: 10%;
              height: 2vh;
            }
            .passe {
              font-size: 12px;
              background-color: #19c93d47;
              padding: 3px;
              width: 4vw;
              justify-content: center;
              border-radius: 8px;
              width: 10%;
              height: 2vh;
            }
          }
        }
      }
    }

    .component-todo {
      grid-area: "todo";
    }

    .component-galerie {
      grid-area: "galerie";
    }
  }
}
