@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Carter+One&family=Inter:ital,opsz,wght@0,14..32,800;1,14..32,800&family=Lexend:wght@100..900&family=Limelight&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Oi&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@1,5..1200,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Space+Grotesk:wght@300..700&family=Ultra&display=swap");

.dashboard {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 300;
  font-style: normal;
  height: 90vh;
  width: 60vw;
  margin-top: 5vh;
  h1 {
    color: #ff7e5f;
  }

  /* p {
  } */

  .dashboard-stats {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    .stat-1 {
      width: 20%;
      background-color: #feb47b5b;
      border-radius: 10px;
      padding-left: 10px;
      /* p {
      }

      h2 {
      } */
    }

    .stat-2 {
      width: 20%;
      background-color: #feb47b5b;
      border-radius: 10px;
      padding-left: 10px;

      /* p {
      }

      h2 {
      } */
    }

    .stat-3 {
      width: 20%;
      background-color: #feb47b5b;
      border-radius: 10px;
      padding-left: 10px;

      /* p {
      }

      h2 {
      } */
    }
    .stat-4 {
      width: 20%;
      background-color: #feb47b5b;
      border-radius: 10px;
      padding-left: 10px;

      /* p {
      }

      h2 {
      } */
    }
  }

  .dashboard-components {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "reservations todo"
      "galerie";
    .component-recent-reservations {
      grid-area: "reservations";
      .component-header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 59%;
        /* h3 {
        } */

        button {
          height: 10%;
          border-style: none;
          background: none;
        }
      }

      .component-array {
        .row-title {
          display: flex;
          justify-content: space-around;
          h4 {
            width: 20%;
            font-size: 12px;
          }
        }

        .row {
          display: flex;
          justify-content: space-around;

          .name {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
            width: 20%;
            /* .initials {
            } */

            p {
              font-size: 12px;
            }
          }

          p {
            width: 20%;
            align-items: center;
            display: flex;
            font-size: 12px;
          }
        }
      }
    }

    .component-todo {
      grid-area: "todo";
    }

    .component-galerie {
      grid-area: "galerie";
    }
  }
}
