@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap");

body {
  font-family: "Be Vietnam Pro", sans-serif;
}

.navbar-forgetpassword {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  .nav-forgetpassword {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ff7e5f;

    img {
      width: 35px;
      height: 35px;
    }

    h1 {
      font-size: 22px;
    }
  }
}

.forgetPassword-section {
  display: flex;
  justify-content: center;
  margin: 5vh 20vw;
  border-radius: 20px;
  box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.207);
  background: white;
}

.forgetPassword-img-text {
  position: relative;

  .forgetPassword-img {
    width: 30vw;
    border-radius: 20px 0 0 20px;
    display: block;
  }

  .forgetPassword-text {
    position: absolute;
    bottom: 0;
    margin: 6vh;
    color: white;

    h2 {
      font-size: 30px;
    }

    .forgetPassword-parag {
      font-size: 10px;
      margin-top: 5px;
    }
  }
}

.forgetPassword-content {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin: 0 20px;
  background: white;
  border-radius: 0 20px 20px 0;

  .wel-para-title-forgetPassword {
    margin: 10vh 2vw 0;

    h2 {
      font-size: 28px;
    }

    .Welcome-forgetPassword-para {
      margin-top: 20px;
      font-size: 15px;
    }
  }

  .email-input-label-forgetPassword {
    margin: 5vh 2vw 1vh;

    label {
      font-size: 12px;
      font-weight: 700;
    }
  }

  .email-input-forgetPassword {
    margin-top: 8px;
    width: 100%;
    height: 50px;
    padding: 0 15px;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    background: var(--input-color);
    border: 1px solid var(--border-color);
  }

  .input-focus:focus {
    outline: none;
    box-shadow: none;
  }

  .button-forgetPassword-submit {
    margin: 1vh 2vw;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background: linear-gradient(90deg, #e98d66, #b44708);
    color: white;
    font-weight: 700;
    cursor: pointer;

    &:active {
      transform: scale(0.95);
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
      background: var(--button-color-disable);
      color: var(--font-button-color-disable);
    }
  }

  .register-link-connection-forgetPassword {
    text-align: center;
    margin-top: 20px;

    .register-link-forgetPassword {
      text-decoration: none;
      color: brown;
    }
  }

  .error {
    color: #ff3b3b;
    font-size: 12px;
    margin-top: 6px;
  }
}

::placeholder {
  color: var(--font-placeholder);
}

@media screen and (max-width: 768px) {
  .forgetPassword-section {
    flex-direction: column;
    margin: 20px;
  }

  .forgetPassword-img-text {
    .forgetPassword-img {
      width: 100%;
      height: 250px;
      object-fit: cover;
      border-radius: 20px 20px 0 0;
    }

    .forgetPassword-text {
      margin: 20px;
      font-size: 16px;

      .forgetPassword-parag {
        font-size: 12px;
      }
      h2 {
        font-size: 24px;
      }
    }
  }

  .forgetPassword-content {
    width: 100%;
    margin: 0;
    border-radius: 0 0 20px 20px;

    .wel-para-title-forgetPassword {
      margin: 30px 20px 0;
    }

    .email-input-label-forgetPassword {
      margin: 20px;
    }

    .button-forgetPassword-submit {
      width: 90%;
      margin: 15px auto;
    }

    .register-link-connection-forgetPassword {
      margin-bottom: 20px;
    }
  }
}
