.CardEvents-Global {
  display: flex;
  flex-direction: column;
  width: 16rem;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  background: var(--bg-neutral);
  overflow: hidden;
  margin-bottom: 3rem;
  transition: transform linear 0.125s;
  .CardEvents-ImageDate {
    position: relative;
    height: 12rem;
    flex-shrink: 0;
    overflow: hidden;
    .CardEvents-Image {
      width: 100%;
      height: 100%;
      object-position: top;
      display: block;
    }
    .CardEvents-Date {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      top: 0.75rem;
      right: 0.75rem;
      width: 2.5rem;
      height: 3rem;
      background: var(--bg-color);
      border-radius: 0.5rem;
      border: 1px solid black;
      .CardEvents-Date-Day {
        color: var(--font-darkBrown);
        font-size: 1.25rem;
        font-weight: bold;
      }
      .CardEvents-Date-Month {
        color: var(--font-gray);
        font-size: 0.75rem;
      }
    }
  }
  .CardEvents-Container {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 0.5rem;
    .CardEvents-Title {
      font-size: 1.5rem;
      font-weight: 400;
    }
    .CardEvents-Description {
      color: var(--font-input);
      font-size: 0.8rem;
    }
    .CardEvents-Location {
      font-size: 0.8rem;
      font-weight: bold;
    }
    .CardEvents-Title,
    .CardEvents-Description,
    .CardEvents-Location {
      text-align: left;
    }
  }
}
.CardEvents-Global:hover {
  transform: scale(1.025);
}
