@media screen and (min-width: 429px) {
  .dashboard-page {
    display: flex;
    flex-direction: row;
    gap: 3vw;
    padding-left: 2vw;
    .content {
      padding: 30px;
    }
  }
}

@media screen and (max-width: 428px) {
  .dashboard-page {
    width: 100%;
  }
}
