.HomeEvents-Global {
  background-color: var(--bg-color);
  min-height: 100vh;
  padding: 10%;
  margin: 0;
  box-sizing: 0;
  .HomeEvents-Title {
    font-family: var();
    color: var(--font-darkBrown);
  }
  .HomeEvents-FilterAdd {
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem 4rem 2rem;
  }
  .HomeEvents-CardGlobal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
